## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.nupkg
*.snupkg
project.nuget.cache

## Angular / Node
node_modules/
dist/
.angular/
coverage/

## IDEs
.idea/
*.swp
*.swo

## OS
.DS_Store
Thumbs.db

## Environment / Secrets
appsettings.Local.json
*.env
.env.local
